In [ ]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
tup=(10, 20, 24, 25, 26, 35, 70)
print(tup[2:len(tup)-2])

(24, 25, 26)

In [ ]:
tup=(10, 20, 24, 25, 26, 35, 70)
lst=[]
for i in range(2,len(tup)-2,1):
  lst.append(tup[i])
print(tuple(lst))

(24, 25, 26)

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print(len(book_info))
for i in book_info:

  print(i)

4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in book_info:
  a,b,c=i
  # print(b,"wpon the",a, "catagory with",c)
  print(f"{b} won the '{a}' catagory with {c} votes.")

The Silent Patient wpon the Best Mystery & Thriller catagory with 68821
The Silent Patient won the 'Best Mystery & Thriller' catagory with 68821 votes.
The Institute wpon the Best Horror catagory with 75717
The Institute won the 'Best Horror' catagory with 75717 votes.
The five wpon the Best History & Biography catagory with 31783
The five won the 'Best History & Biography' catagory with 31783 votes.
The Testaments wpon the Best Fiction catagory with 98291
The Testaments won the 'Best Fiction' catagory with 98291 votes.

In [ ]:
mytup= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
tup=int(input())
count=0
for i in mytup:
  if i==tup:
    count+=1
print(f"{tup} appers {count} times")

10
10 appers 3 times

In [ ]:
Giventuple= ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
lst=[]
lst1=[]
for i in  Giventuple:
  lst.append(i)
for a in range(len(lst)-1,-1,-1):
   lst1.append(lst[a])
print(tuple(lst1))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
d1={'Harry':15, 'Draco':8, 'Nevil':19}
d2={'Ginie':18, 'Luna': 14}
d3={}
for i in d1:
   d3.update(d1)
   d3.update(d2)
print(d3)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
inp=input()
#first=inp[1:-1]
#second=first.split(",")
third=""
#print(second)
for i in inp:
  if i!=" " and i!="'":
    third+=i
print(third)
#first=inp[1:-1]
first=third[1:-1]
print(first)
second=first.split(",")
empty={}
for i in second:
  value=i.split(":")
  empty[value[0]]=int(value[1])
sum=0
count=0
for values in empty:
  sum+=empty[values]
  count+=1
print(sum/count)

{'Jon': 100, 'Dan': 200, 'Rob':3 00}
{Jon:100,Dan:200,Rob:300}
Jon:100,Dan:200,Rob:300
200.0

In [ ]:
given={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
list=[]

for values in given:
  list.append(given[values])
print(list)
maximum=list[0]

for i in list:
  if i>maximum:
    maximum=i
print(maximum)


for keys,values in given.items():
  if values==maximum:
    print(f"The highest selling book genre is '{keys}' and the number of books sold are {maximum}.")